html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.wraper {
  width: 1000px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 111px;
  background: #577efe;
  line-height: 111px;
}

.header .head {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .head img {
  width: 120px;
  height: 39px;
}

.header .head ul {
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .head ul li {
  padding: 0 10px 0;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 20px;
}

.header .head ul li:last-child {
  font-size: 15px;
}

.header .head .head.icon {
  display: none;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: 450px;
}

.tap {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ccc;
  line-height: 70px;
}

.tap .taplist ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.tap .taplist ul li {
  margin-right: 140px;
}

.tap .taplist ul li:nth-child(2) {
  border-bottom: 3px solid skyblue;
}

.section {
  width: 100%;
}

.section .con .one h3 {
  color: #ccc;
  display: flex;
  align-items: center;
  padding: 30px 0;
  box-sizing: border-box;
}

.section .con .one h3 i {
  display: inline-block;
  width: 6px;
  height: 20px;
  background: skyblue;
  margin-right: 5px;
}

.section .con .one h3 em {
  margin-left: 5px;
  font-style: normal;
}

.list {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.list > p {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.list ul {
  width: 100%;
  box-sizing: border-box;
}

.list ul li {
  padding: 5px 0;
  display: flex;
}

.list ul li b {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
  background: red;
  padding: 5px;
  color: #fff;
}

.list ul li em {
  width: 75%;
  margin-left: 20px;
}

@media screen and (max-width: 1000px) {
  .head {
    width: 100%;
    display: flex;
    align-items: center;
    background: #577efe;
    background: #fff;
  }
  .head ul {
    display: none;
  }
  .head .icon {
    display: block;
    width: 50px;
    height: 40px;
    line-height: 40px;
  }
  .head .icon img {
    width: 100%;
    height: 100%;
  }
  .list {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .list > p {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .list ul {
    width: 100%;
    box-sizing: border-box;
  }
  .list ul li {
    padding: 5px 0;
    display: flex;
  }
  .list ul li b {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background: red;
    padding: 5px;
    color: #fff;
  }
  .list ul li em {
    width: 75%;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .head ul {
    display: block;
  }
  .head .icon {
    display: none;
  }
}
